{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <title>MohammadMahdi Sheikhi</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../static/img/06-MohammadMahdi Logo-01.jpg" rel="icon">
  <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../../static/css/style-red.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />

</head>

<body id="page-top" dir="rtl" style="font-family: 'Vazir', sans-serif !important;">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">{{ owner.name }}</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">درباره من</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">خدمات من</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">نمونه کارها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">وبلاگ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">تماس با من</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link js-scroll" href="#indexeng">English</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url('{{ owner.hero_photo.url }}');">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">{{ owner.name }}</h1>
          <p class="intro-subtitle"><span class="text-slider-items">{{ owner.slogan }}</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route" dir="">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ owner.photo.url }}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">نام: </span> <span>{{ owner.name }}</span></p>
                      <p><span class="title-s">نقش: </span> <span>{{ owner.role }}</span></p>
                      <p><span class="title-s">ایمیل: </span> <span>{{ owner.email }}</span></p>
                      <p><span class="title-s">موبایل: </span> <span>{{ owner.phone_number }}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">مهارت‌ها</p>
                  {% for skill in skills %}
                  <span>{{ skill.name }}</span> <span class="pull-right">{{ skill.percent }}%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ skill.percent }}%;" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {% endfor %}
                  
                  <!--
                  <span>Illustrator</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Figma</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Primiere</span> <span class="pull-right">40%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>After Effects</span> <span class="pull-right">30%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Tailwind CSS</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>TYPECRIPT</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Next.js</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Python & Django</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Numpy, Pandas, Matplotlib, Jupyterlab</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Excel</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>My SQL</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2" style="text-align: right;">
                    <h5 class="title-left">
                      درباره من
                    </h5>
                  </div>
                  <p class="lead" style="text-align: right;">
                    {{ owner.about }}
                  </p>
                  <!--<p class="lead">
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                    porttitor volutpat. Vestibulum
                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                  </p>
                  <p class="lead">
                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                    Nulla porttitor accumsan
                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  </p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              خدمات من
            </h3>
            <p class="subtitle-a">
              در این بخش با فعالیت‌های من آشنا می‌شوید.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ owner.service1 }}</h2>
              <p class="s-description text-center">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ owner.service2 }}</h2>
              <p class="s-description text-center">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-camera"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ owner.service3 }}</h2>
              <p class="s-description text-center">
               
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ owner.service4 }}</h2>
              <p class="s-description text-center">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ owner.service5 }}</h2>
              <p class="s-description text-center">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ owner.service6 }}</h2>
              <p class="s-description text-center">
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <!--<div class="section-counter paralax-mf bg-image" style="background-image: url(../../static/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">450</p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">15</p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">550</p>
              <span class="counter-text">TOTAL CLIENTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">36</p>
              <span class="counter-text">AWARD WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <!--/ Section Portfolio Start /-->
  <section id="work" class="portfolio-mf sect-pt4 route" dir="rtl">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              پورتفولیوی نمونه‌کارهای من
            </h3>
            <p class="subtitle-a">
              در این قسمت تعدادی از کارهای من را مشاهده می‌کنید.
            </p>
            <a href={% url 'works' %}>
              <p>
                مشاهده لیست نمونه‌کارها
              </p>
            </a>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row" style="text-align: right;">
        {% for work in works %}
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ work.image1.url }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ work.image1.url }}" alt="{{ work.title }}" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="">
                  <div class="col-sm-12">
                    <h2 class="w-title">{{ work.title }}</h2>
                    <p>{{ work.description|truncatewords:15 }}</p>
                    <div class="w-more">
                      <span class="w-ctegory">{{ work.category }}</span>  <span class="w-date">{{ work.date|date:"d M. Y" }}</span>
                    </div>
                  </div>
                  <div class="col-sm-12 mt-3">
                    <div class="">
                      <a href="{% url 'work' work.id %}">
                        <span class="" style="padding: 4px 0; border-bottom: 2px; border-color=black;">جزئیات پروژه</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!--/ Section Testimonials Star /-->
  <div dir="ltr" class="testimonials paralax-mf bg-image" style="background-image: url(../../static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            {% for testimonial in testimonials %}
            <div class="testimonial-box">
              <div class="author-test">
                <img src="../../static/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">{{ testimonial.teller }}</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  {{ testimonial.testimonial }}
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              وبلاگ
            </h3>
            <a href={% url 'blogs' %}>
              <p class="subtitle-a">
                مشاهده همه
              </p>
            </a>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row" style="text-align: right;">
        {% for blog in blogs %}
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              {% if blog.image %}
                <a href="{% url 'blog' blog.id %}"><img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid"></a>
              {% else %}
                <a href="{% url 'blog' blog.id %}"><img src="{% static 'img/default-image.jpg' %}" alt="Default Image" class="img-fluid"></a>
              {% endif %}
            </div>
            <div class="card-body">
              <!-- If categories are used -->
              {% if blog.category %}
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">{{ blog.category }}</h6>
                  </div>
                </div>
              {% endif %}
              <h3 class="card-title"><a href="{% url 'blog' blog.id %}">{{ blog.title }}</a></h3>
              <p class="card-description">
                {{ blog.content|truncatewords:15 }}
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  {% if owner.photo %}
                    <img src="{{ owner.photo.url }}" alt="{{ owner.name }}" class="avatar rounded-circle">
                  {% else %}
                    <img src="{% static 'img/default-avatar.jpg' %}" alt="Default Avatar" class="avatar rounded-circle">
                  {% endif %}
                  <span class="author">{{ owner.name }}</span>
                </a>
              </div>
              <div class="post-date">
                <i class="ion-ios-clock-outline"></i> {{ blog.created_at|date:"d M Y" }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(../../static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full" dir="ltr" style="text-align: right;">
              <div class="row">
                <div class="col-md-6">
                  <!--
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  -->
                  <div>
                    <!--
                      <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                    -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      تماس با من
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      در این قسمت می‌توانید اطلاعات تماس من را مشاهده نمایید. همچنین در صفحه اینستاگرام من مجموعه کاملی از فعالیت‌های گرافیکی من را می‌توانید ببینید.
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> تهران</li>
                      <li><span class="ion-ios-telephone"></span>{{ owner.phone_number }}</li>
                      <li><span class="ion-email"></span>{{ owner.email }}</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.instagram.com/mohammad_mahdi_designs?igsh=MXEzeHN6aG5qMDVlaA=="><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://www.linkedin.com/in/mohammadmahdi-sheikhi-9397b6286?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><span class="ico-circle"><i class=""><img src="../../static/img/linkedin.png" style="width: 24px;"></img></i></span></a></li>
                      <!--<li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">شخصی‌سازی و توسعه توسط<strong>  محمّدمهدی شیخی.</strong>      تمامی حقوق محفوظ است.</p>
              <div class="credits" style="display: none !important;">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../static/lib/popper/popper.min.js"></script>
  <script src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/lib/easing/easing.min.js"></script>
  <script src="../../static/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="../../static/lib/counterup/jquery.counterup.js"></script>
  <script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../../static/lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../static/js/main.js"></script>

</body>
</html>
